* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: orange;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background-color: darkslategray;
  min-height: 100vh;
  font-family: sans-serif;
}

header {
  text-align: center;
  background-color: black;
  box-shadow: 0px 0px 8px black;
  color: white;
  padding: 10px;
}

section {
  padding: 10px;
  padding-top: 60px;

  h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    text-align: center;
    background-color: #ffffff36;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    width: 400px;
    box-shadow: -2px 2px 4px 0px #00000078;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .inputs__input {
    display: flex;
    flex-direction: column;
    background-color: black;
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 10px;
    width: calc(100% / 3 - 10px);

    input {
      width: 100%;
      font-size: 24px;
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline: none;
      text-align: center;

      &::placeholder {
        font-size: 18px;
      }
    }

    label {
      font-size: 20px;
      color: white;
      padding: 10px 0;
    }
  }

  .submit-btn {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    box-shadow: 0px 0px 4px 0px black;
    color: white;
    transition: 0.3s;

    &:hover {
      transform: scale(1.03);
    }
  }

  .error__msg {
    margin-top: 15px;
    color: var(--main-color);
    display: none;
  }

  /* result */
  .result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 100;
    background-color: rgb(0 0 0 / 86%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.5s all ease-in-out;

    &.open {
      transform: translateX(0);
      opacity: 1;
    }

    p {
      font-size: 20px;
      text-align: center;
      line-height: 1.5;
      color: white;

      span {
        color: var(--main-color);
        font-size: 24px;
        font-weight: bold;
      }
    }

    .try-another-btn {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      cursor: pointer;
      background-color: var(--main-color);
      box-shadow: 0px 0px 4px 0px black;
      color: white;
      transition: 0.3s;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .result__boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .result__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      width: 90px;
      height: 90px;
      font-size: 36px;
      font-weight: bold;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-size: 20px;
      color: white;
      padding: 10px 0;
    }
  }
}
